header
  
  h1.logo 
    | [missingFeed(master)]$ ls -l 
    span.blink ▋
    
  nav.ls-l
    ul
      li: span.hide drwxr-xr-x 20 mssngfd staff 680 Sep 1 06:21 
        span.link: a(href="/../music_covers/index.html") music_covers
      li: span.hide drwxr-xr-x 20 mssngfd staff 680 Sep 1 10:06  
        span.link: a(href="/../great_songs/index.html") great_songs        
      li: span.hide drwxr-xr-x 20 mssngfd staff 680 Sep 1 11:21  
        span.link: a(href="/../great_songs/index.html") funny_videos     
      li: span.hide drwxr-xr-x 20 mssngfd staff 680 Sep 1 03:02 
        span.link: a(href="/../great_songs/index.html") informative_videos        
      li: span.hide drwxr-xr-x 20 mssngfd staff 680 Sep 1 07:21 
        span.link: a(href="/../great_songs/index.html") favorites    
