<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <div class="page-head">
      <div class="fixed-head">
        <h1>//{{ page.title }}</h1>
        <h1><a href="/../music_VIDEOS/index.html">return to previous directory</a></h1>
      </div>
    <div>

    {{ content }}

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../assets/js/functions.js"></script>

  </body>
</html>
